---
import Icon from '../components/Icon.astro';

interface Props {
	title: string;
	description: string;
	dateText: string;
	author: string;
	tags: string[];
	href: string;
}

const { title, description, dateText, author, tags, href } = Astro.props;
---

<article class="card blog-card">
	<h3><a href={href}>{title}</a></h3>
	<p>{description}</p>
	<div class="blog-meta">
		<span><Icon name="calendar" size={14} />{dateText}</span>
		<span><Icon name="user" size={14} />{author}</span>
	</div>
	<div class="meta-list">
		{tags.map((tag) => <span class="meta-pill"><Icon name="tag" size={12} />{tag}</span>)}
	</div>
</article>
